.container{
    display: grid;
    /* width:18rem; */
    align-items: center;
    justify-content: initial;
}

.carousel{
    width: 300px;

}

.topic{
    margin-left: 50px;
}

.pietopic{
   position: relative;
   left: 0;
   right: 0;
   margin: auto;
}